# server envs
API_BASE_URL=https://api.staging.open-profile.hng14.com

# client envs
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=open-profile
NEXT_PUBLIC_API_URL=https://api.staging.open-profile.hng14.com